<div style=" padding: 10px; margin: 5px;">
  <div style="text-align: center">
    <h1>Rails 6 Template</h1>
    <h2>Woot!  The template is up and running!</h2>
  </div>
  <div>
    <p>More information can be found <%= link_to 'here', 'https://github.com/saturdaymp-examples/rails-6-template' %>.  Send feedback, questions, bugs, and/or improvements by opening an <%= link_to 'issue', 'https://github.com/saturdaymp-examples/rails-6-template/issues' %> or <%= link_to 'pull request', 'https://github.com/saturdaymp-examples/rails-6-template/pulls' %>.</p>
  </div>
  <div>
    <h4>Created by <%= link_to 'Saturday Morning Productions', 'https://saturdaymp.com' %></h4>
  </div>
</div>